<label>AccessKeyId</label>
<%= f.text_field :access_key_id %><br/>

<label>SecretAccessKey</label>
<%= f.password_field :secret_access_key %><br/>

<label>Bucket-name</label>
<%= f.text_field :bucket %><br/>
